# envのテンプレートファイル
# かならずコピーして原本は残すこと
# コメントは消して運用
# KEY=example_value:description

# backend
HOST_UID=501
HOST_GID=20

# database-srvの設定値
MYSQL_ROOT_PASSWORD=root:ルートのパスワード
MYSQL_DATABASE=database:データベース名
MYSQL_USER=user:ユーザ名
MYSQL_PASSWORD=password:パスワード

AUTH_DATA_TOKEN=eyJ~:request.restで利用するトークン
