// ./credentials.h

# pragma

// WiFi

#define WIFI_SSID "" // WiFiのSSID
#define WIFI_PASS "" // WiFiのPASSWORD

// others

#define HOST "" // 接続先のホスト名
#define DEVICE_NAME "M5GO-1234" // デバイス名
#define PROXY_PORT 8080 // リバプロのポート
#define MQTT_PORT 1883 // mqttのポート