// ./credentials.h

# pragma

// WiFi

#define WIFI_SSID "" // WiFiのSSID
#define WIFI_PASS "" // WiFiのPASSWORD

// others

#define HOST "" // 接続先のホスト名
#define DEVICE_NAME "M5GO-1234" // 表示名であり、不正な場合backend側で生成されるため空白でも良い
#define PROXY_PORT 8080 // リバプロのポート
#define MQTT_PORT 1883 // mqttのポート